.btn-custom {
    background-color: #b96c7b !important;
    border: none !important;
  border-radius: 50% !important;
  margin: 2px;
  }
  .custom-table {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
    /* background-color: white; */
    background-color: #c1bca183;
    border-radius: 10px; /* Adjust the value to control the roundness of the corners */
  overflow: hidden;
    
  }
.custom-table th,
.custom-table td {
  border: none;
  
}
td{
  background-color: transparent !important;
  color:white !important;
}
.custom-table th{
 height: 45px;
}
.custom-table thead {
 border-bottom: 2px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) inset;
 border-top: 0px !important;
 border-color: #b96c7b !important;
}


 th{
  /* background-color: #b96c7b!important; */
  background-color: transparent !important;
  color:white !important;
  height: 60px !important;
  /* color: white !important; */
  font-size: large !important;
  text-transform: uppercase !important;
  font-weight: 600;
  /* border-radius: 50%; */
 }
th:hover{
  background-color: transparent !important;
}
 .with-border-radius {
  border-radius: 50% !important;
}
#CardBackIMg{
    background-color: #c1bca183;
    color: white ;
  }
  .btn-custom {
    background-color: transparent !important;
      border: none !important;
    border-radius: 50% !important;
    margin: 2px;
    }
    .custom-table {
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
      /* background-color: white; */
      background-color: #c1bca183;
      border-radius: 10px; /* Adjust the value to control the roundness of the corners */
    overflow: hidden;
      
    }
  .custom-table th,
  .custom-table td {
    border: none;
    
  }
  td{
    background-color: transparent !important;
    color:white !important;
  }
  .custom-table th{
   height: 45px;
  }
  .custom-table thead {
   border-bottom: 2px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) inset;
   border-top: 0px !important;
   border-color: #b96c7b !important;
  }
  
  
   th{
    /* background-color: #b96c7b!important; */
    background-color: transparent !important;
    color:black !important;
    height: 60px !important;
    /* color: white !important; */
    font-size: large !important;
    text-transform: uppercase !important;
    font-weight: 600;
    /* border-radius: 50%; */
   }
   #CardBackIMg1{
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(230, 45, 45, 0.7)), url('../../assets/img/Gradient-colorBG.webp'); */
    /* background-color: #c1bca183; */
    background: rgb(185, 184, 202);
    background: linear-gradient(90deg, rgb(184, 181, 221) 18%, rgba(220, 227, 231, 0.88) 52%, rgb(255, 255, 255) 87%);
    color: rgb(9, 8, 8) !important;
    text-shadow: 1px 1px #d8c895 !important;
    background-color: transparent;
  } 
  
  #CardText{
    color: rgb(9, 8, 8);
    text-shadow: 1px 1px #d8c895;
   }
   .with-border-radius {
    border-radius: 50% !important;
  }
  #CardBackIMg{
      background-color: #c1bca183;
      color: white ;
    }
    /* #CardBackIMg:hover{
      background-color: #c1bca183;
      color: white ;
    } */