/* 
.icon-container {
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 5px; 
  }
  
  .quantity {
   
    width: 20px;
    margin-top: -2px;
    height: 20px;
    padding: 3px;
    margin-right: 5px; 
  }
  
   */

   
.icon-container {
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 5px; 
}
#CardText{
  color: rgb(9, 8, 8);
  text-shadow: 1px 1px #d8c895;
  background-color: transparent;
 }
.quantity {
  /* border: 1px solid #ccc; */
  width: 20px;
  margin-top: -2px;
  height: 20px;
  padding: 3px;
  margin-right: 5px; 
}
#CartMain{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../../assets/img/HomeThirdMainImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;
}
#CardDetail{
  background: rgb(185, 184, 202);
  background: linear-gradient(90deg, rgb(184, 181, 221) 18%, rgba(220, 227, 231, 0.88) 52%, rgb(255, 255, 255) 87%);
  color: #f2f0ed !important;
}
#CardBackIMg{
  /* background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(230, 45, 45, 0.7)), url('../../assets/img/Gradient-colorBG.webp'); */
  background-color: #c1bca183;
  color: white;
}
#EmptyCard{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../../assets/img/HomeThirdMainImg.jpg');
  color:white ;
  text-shadow: 2px 2px  #cc891d;
  width:100%;
}