
.ProductImg1{
    /* background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../../assets/img/bg-menu.jpg'); */   
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../../assets/img/HomeThirdMainImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white ;
    text-shadow: 2px 2px  #cc891d;
    height:40vh;
    width:100%;
}
.Product2Comp{
   background-color: #0e1927;
   text-align: center;
   color: white;
}
#Product2H3{
    font-family: 'CormorantInfant';
    color:' #c6ac83';
}
.Product3Comp{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../../assets/img/HomeThirdMainImg.jpg');
    /* height:100vh; */
    margin-top:-20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#ShoppingCart{
    position: sticky;
    top:0;
}



