

.my-global-button {
  /* Your common button styles go here */
  background-color: #3a7975 !important;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.my-global-button:hover {
  /* Styles for the button on hover */
  background-color: #3a7975;
}
h1,h2,h3,h4,h5,h6,p{
  font-family: serif;
}
p{
  font-size:19px;
}

#CardBackIMg1{
  /* background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(230, 45, 45, 0.7)), url('../../assets/img/Gradient-colorBG.webp'); */
  /* background-color: #c1bca183; */
  background: rgb(185, 184, 202);
  background: linear-gradient(90deg, rgb(184, 181, 221) 18%, rgba(220, 227, 231, 0.88) 52%, rgb(255, 255, 255) 87%);
  color: rgb(9, 8, 8) !important;
  text-shadow: 1px 1px #d8c895 !important;
  background-color: transparent;
} 

#CardText{
  color: rgb(9, 8, 8);
  text-shadow: 1px 1px #d8c895;
 }